/.idea/vcs.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/movie.txt
/PC2E.aux
/.idea/PC2E.iml
/PC2E.log
/PC2E.synctex.gz
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/_minted-PC2E/colorful.pygstyle
/_minted-PC2E/D9E3CB3861C13D197FF5147CD30552A575DF7363EE05E722FBF7A5DD32466AC3.pygtex
/PC2E.listing

/.ipynb_checkpoints/Chapter_Pandas_Foundations-checkpoint.ipynb
/.idea/dictionaries
/.ipynb_checkpoints
/_minted-PC2E
/chapter1.aux
/Chapter1.log
/chapter2.aux
/PC2E.out
.log
.toc
.log
/PC2E.toc
/preamble.log
/chapter4.aux
/chapter2.log
